<h1>About</h1>
<h3>History of Wikis</h3>
<p>The history of wikis is generally dated from 1994, when Ward Cunningham gave the name "WikiWikiWeb" to the knowledge base, which ran on his company's website at c2.com, and the wiki software that powered it. c2.com thus became the first true wiki, or a website with pages and links that can be easily edited via the browser, with a reliable version history for each page. He chose "WikiWikiWeb" as the name based on his memories of the "Wiki Wiki Shuttle" at Honolulu International Airport, and because "Wiki" is the Hawaiian word for "Quick".</p>

<blockquote class="blockquote-reverse">
  <p>"The best way to get the right answer on the Internet is not to ask a question, it's to post the wrong answer."</p>
  <small>Ward Cunningham in <cite title="Source Title">New York Times</cite></small>
</blockquote>